
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.arriba{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 200px;
}
.barra {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: cyan;
    width: 35%;
    height: 30%;
}

.barra2 {
    background-color: black;
    width: 80%;
    height: 30%;
}

.cuadradoBarra {
    margin-left: auto;
    background-color: teal;
    width: 12%;
    height: 100%;
}

.barritas {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 10%;
}

.barrita1 {
    background-color: limegreen;
    width: 20%;
    height: 100%;
}

.barrita2 {
    
    background-color: limegreen;
    width: 20%;
    height: 100%;
}

.barrita3 {
   
    background-color: limegreen;
    width: 20%;
    height: 100%;
}
.barrita4 {

    background-color: limegreen;
    width: 20%;
    height: 100%;
}